.shop {
    margin-bottom: 65px;
 
  }
  .block-title h2 {
    font-size: clamp(1rem, 0.568rem + 2.16vw, 2.188rem);
  }
  .shop-title {
    margin: 0px 0px 30px 0px;
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
  }
  .shop-cart {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .shop-cart_item h1{
    font-weight: 400;
    font-size: clamp(0.5rem, 0.273rem + 1.14vw, 1.125rem);
    line-height: 50px;
    /* or 278% */
  
    text-align: center;
    letter-spacing: 8px;
  
    color: #000000;
  
  }
  .shop-cart_item img {
    width: 365.45px;
    // height: 450px;
    border-radius: 20px;
  }
  .shop-btn {
    width: 284px;
    height: 50px;
    border-radius: 20px;
    background: #32543F;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      color: #ffffff;
    }
  }
  
  @media screen and (max-width: 1185px) {
    .shop-cart {
      display: flex;
      flex-direction: row;
      gap: 25px;
      justify-content: space-around;
    }
    .shop-cart_item img {
      width: clamp(10.313rem, 8.381rem + 9.66vw, 15.625rem);
    }
    .shop-cart_item h1 {
      letter-spacing: 2px;
    }
  }

  @media screen and (max-width: 650px) {

    .shop-cart_item img {
      width: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
    }
  
  }



  