.section-reptileFriends {
    display: flex;
    margin-bottom: 65px;
    gap: 105px;
  }
  .reptileFriends_images {
    text-align: center;
  }
  img{
    max-width: clamp(18.75rem, 13.523rem + 26.14vw, 33.125rem);
    // height: 564px;
    left: 117px;
    top: 2660px;
    border-radius: 20px;
    
  }
  .reptileFriends_text {
    max-width: 529px;
    // height: 568px;
    
  }
  .reptileFriends_text h2 {
    // left: 752.51px;
    // top: 2656px;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.227rem + 2.61vw, 2.188rem);
    line-height: 40px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 20px;
  }
  .reptileFriends_text p {
    left: 752.51px;
    top: 2809px;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
    line-height: 28px;
    color: rgba(0, 0, 0, 0.9);
  }
  .reptileFriends_text p:last-child { 
    margin: 50px 0px 0px 0px;
  }
  @media screen and (max-width: 922px) {
    .section-reptileFriends {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    }
    .reptileFriends_text h2 {
      font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
    }
    .reptileFriends_text p {
      font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
    }
  }