// SECTION 1
.bg_img_1 {
  width: 530px;
  height: 19px;
  position: relative;
  left: 60%;
  top: -220px;
  img {

  }

}


.section-about {
    margin: 125px 0;
  }
  .about-title {
  
    margin: 40px 0 15px;
    
  }
  
  .about-images {
    display: flex;
    justify-content: space-between;
  }
  .about-img_one {
    border-radius: 30px;
    margin-right: 26px;
    // width: clamp(18.75rem, -2.819rem + 107.84vw, 35.938rem);
    img {
      width: 100%; 
      height: 300px; 
      object-fit: cover; 
      // object-position: bottom; 
  }
    }
  .block-two {
    margin-left: 20px;
    // width: 529px;
    // height: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  
    color: rgba(0, 0, 0, 0.9);
    p {
      font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.375rem);
    }
  }
  .about-img_two {
    border-radius: 30px;
  }
  .about-text__item {
    max-width: 529px;
    margin: 40px 0px 0px 0px;

  }
  .about-btn {
    width: 184px;
    height: 50px;
    border-radius: 20px;
    background: #32543F;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    margin: 48px 0px 0px 0px;
    
  }
  @media screen and (max-width: 1070px) {
    .about-images {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    .block-two {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      .about-img_two {
        display: none;
      }
    }
    .about-img_one {
      margin-right: 0px;
    }
    
  } 
  .bg_img_1 img {
    display: none;
    left: 110%;
    position: absolute;
  }
  }

  @media screen and (max-width: 530px) {
    .about-images {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    .block-two {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      .about-img_two {
        display: none;
      }
    }
    .about-img_one {
      margin-right: 0px;
    }
    .rsis-container {
      max-width: 300px;
    }
  } 
  .containerStyles {
    display: none;

  }
  }


  $color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
$color-black: #1F2937;
$card-size: 23rem;

.carousel {
  position: relative;
  width: $card-size;
  height: $card-size;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: $color-gray;
  text-align: justify;
  transition: all 0.3s ease-out;
  img {
    width:80%;
    height:100%;
    margin-left:10%;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: $color-black;
  }
  
  p, h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
  }
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  
  &.left {
    transform: translateX(-100%) translatey(-50%);
  }
  
  &.right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
  }
}

.Carousel-block {
  border-radius: 20px;
}