* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	
}

nav a:hover {
	color: var(--secondaryColor);
	
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
	
}
nav a {
	font-size: 18px;
}

nav a:hover {
	color: #ffee00;
	transition: all 500ms ease; 
}

.nav-menu__logo {
	margin: 20px 0 0 20px;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
  
  }
  .menu-logo__title {
	width: 100%;
	height: 40px;
	font-weight: 700;
	font-size: clamp(1rem, 0.591rem + 2.05vw, 2.125rem);
	line-height: 15px;
	letter-spacing: 10px;
	
	 a {
		color: #000000;
	}
	 a:hover {
		color: #ffee00;
		transition: all 500ms ease; 
	 }
  }
  .menu-logo__subtitle {
	font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  }
  .menu-logo__subtitle:hover {
	color: #ffee00;
	transition: all 500ms ease;
  }
 
  @media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
