// HEADER

header {
  width: 100%;
  // background-color: #ffff;
  // border-bottom: 1px solid #eaa4f3;
  
}

header .wrapper {
  height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

header img {
  width: 151px;
  height: 40px;
  margin-right: 32px;
  /* margin: 18px auto; */
}

.menu__wrapper {
  display: flex;
  
}

.menu__wrapper ul{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  display: flex;
  margin-right: 32px;
  white-space: nowrap;
  gap: 35px;
  .menu__item a{
    color: #000000;
  }
}

.nav-menu__logo {
  margin: 28px 0 0 50px;
  text-align: center;
  // display: flex;
  align-items: center;
  justify-content: flex-start;

}
.menu-logo__title {
  width: 100%;
  height: 40px;
  font-weight: 700;
  font-size: clamp(1rem, 0.591rem + 2.05vw, 2.125rem);
  line-height: 15px;
  letter-spacing: 10px;
  color: #000000;
}
.menu-logo__subtitle {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
.header__burger-btn {
  display: none;
  position: relative;
  width: 80px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
  margin-right: 15px;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
@media (max-width: 1160px) {
  .header__burger-btn {
      display: block;
      margin-right: 15px;
  }
  .menu__wrapper {
      position: absolute;
      left: -350px;
      top: 0;
      width: 350px;
      background-color: rgb(232, 229, 235);
      padding: 75px 20px 20px 20px;
      transition: transform .5s;
  }
  .menu__list {
      display: block;
      flex-direction: column;
  }
  .menu__item a {
      color: white;
      font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
      display: block;
      padding: 10px 0;
      
  }
  .header.open .menu__wrapper {
      transform: translateX(100%);
      display: flex;
      
  }
}